/* AGENDA YEAR */
.agendaYear {
    display: flex;
    flex-wrap: wrap;
}

.agendaYear__monthBox {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid black;
    margin: 0px 73px 15px 0px;
    width: 300px;
    padding: 25px;
}

.agendaYear__monthBox table {}

.agendaYear__monthBox table th {
    padding: 5px;
}

.agendaYear__monthBox table td {
    padding: 5px;
}

/* AGENDA WEEK */
.agendaWeek {
    display: flex;
    flex-direction: column;
}

.agendaWeek__box {
    display: flex;
}

.dayFiche {
    margin: 15px;
    border: 1px solid black;
}

.dayFiche ul {
    list-style-type: none;
}